<!DOCTYPE html>
<html>
<head>
  <title>DanceContest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3><center>Jay Rockwood's Dance Contest App</h3></center>
<%= yield %>

</body>
</html>
